<!DOCTYPE html>
<html>

<head>
    <title>Welcome, Please Log in</title>
</head>

<body>
<form method="post">
    username:<br>
    <input type="text" name="username" >
    <br>
    password:<br>
    <input type="password" name="password" >
    <br><br>
    <input type="hidden" name="redirect" value=<%=redirect%>>
    <input type="submit" value="Submit">

</form>


</body>

</html>